{% assign pages = site.pages['/'].children_in_list %}
{% assign default_avatar_url = site.settings.default_avatar %}
{% unless default_avatar_url  %}
    {% assign default_avatar_url = 'images/avatar.svg' |  asset_url %}
{% endunless %}

<main class="grow">
  <section class="relative overflow-hidden">
    <!-- Illustration -->
    <div class="absolute -translate-x-1/2 pointer-events-none left-1/2 -z-10" aria-hidden="true">
        <img src="{{ 'images/demo/hero-illustration.svg' | asset_url }}" class="max-w-none" width="1905" height="622" alt="Hero Illustration">
    </div>

    <div class="max-w-7xl px-4 mx-auto sm:px-6">
      <div class="pt-6 md:pt-12">
        <div class="md:flex md:justify-between md:divide-x md:divide-slate-300 dark:md:divide-slate-800">

          <!-- Page content -->
          <div class="md:grow max-w-5xl">
            <div class="md:pr-6 lg:pr-20 my-4">

              <div class="flex flex-col gap-6 lg:flex-row lg:gap-6">

                {% comment %} 
                  此区域因 md:block md:space-y-2 md:space-x-0 所影响，导致在 MD 屏幕下变成 “block” 模式，且 gap 被设为 0，
                  如果父容器或相关布局有隐藏样式，也可能导致其消失。经过检查实际样式，与 page.two.liquid 代码对比，为确保
                  正常显示请采用如下样式（与 page.two.liquid 一致，优先使用 flex-row，避免不必要的隐藏和布局错乱）：
                {% endcomment %}
                <div class="flex flex-row lg:flex-col gap-2 shrink-0">
                  <div x-data="{ posted_feedback: {% if page.visitor_posted_feedback %}true{% else %}false{% endif %}, feedback_count: {{ page | feedback_type_count: site.settings.feedback_useful_type }} }">
                    <div x-show="posted_feedback == true" @click="posted_feedback=false;feedback_count--" x-cloak>
                      {% form_tag 'delete_feedback', page: page, useful_type: site.settings.feedback_useful_type %}
                        <button name="feedback[useful_type]" value="{{ site.settings.feedback_useful_type }}"
                          :class="{ '!bg-primary': '{{ site.settings.feedback_useful_type }}' === '{{ page.last_feedback_emoji }}' }"
                          class="h-12 w-12 pt-2 items-center text-center flex flex-col rounded border border-primary bg-primary hover:bg-slate-300 dark:hover:bg-slate-800">
                          <svg class="fill-white" width="12" height="6" xmlns="http://www.w3.org/2000/svg"><path d="m0 6 6-6 6 6z"></path></svg>
                          <span class="text-white" x-text="feedback_count"></span>
                        </button>
                      {% endform_tag %}
                    </div>
                    <div x-show="posted_feedback == false" @click="posted_feedback=true;feedback_count++" x-cloak>
                      {% form_tag 'feedback', page: page %}
                        <button name="feedback[useful_type]" value="{{ site.settings.feedback_useful_type }}"
                          class="h-12 w-12 pt-2 items-center text-center flex flex-col rounded border border-primary-200 bg-gradient-to-tr from-slate-200/20 via-slate-200/50 to-slate-200/20 hover:bg-slate-300 dark:hover:bg-slate-800">
                          <svg class="fill-violet-500" width="12" height="6" xmlns="http://www.w3.org/2000/svg"><path d="m0 6 6-6 6 6z"></path></svg>
                          <span x-text="feedback_count"></span>
                        </button>
                      {% endform_tag %}
                    </div>
                  </div>
                </div>

                <!-- Content -->
                <div>
                  <article class="mb-10">
                    <!-- Page header -->
                    <header class="mb-4">
                      <h1 class="mb-4 h3 md:h2 font-aspekta">{{ page.link_text  }}</h1>
                      <div class="flex items-center">
                        <img class="mr-2 rounded-full" src="{{ page.author.avatar_url | default: default_avatar_url }}" width="20" height="20"
                          alt="User 01" />
                        <div class="text-sm text-slate-600 dark:text-slate-400">
                          <a class="font-medium transition duration-150 ease-in-out text-primary dark:text-slate-200 hover:text-primary/80 dark:hover:text-primary-400"
                            href="#0">{{ page.author.name }}</a> · <span class="text-slate-500 dark:text-slate-400">{{ page.created_at | date: "%Y-%m-%d %H:%M" }}</span> · <span
                            class="text-slate-500 dark:text-slate-400">{{ page.comments | size }} {{ 'generic.comments' | t}}</span>
                        </div>
                      </div>
                    </header>

                    <!-- Page content -->
                    <div class="ProseMirror prose dark:prose-invert max-w-none break-words">
                      {{ page.settings.content }}
                    </div>
                    <!--Tags-->
                    {% if page.settings.tags.size > 0 %}
                      <div class="flex items-center py-4 mt-4 space-x-2 text-xs font-light md:mt-8 shrink-0 ">
                          <p>{{ 'generic.tags' | t }} </p>
                          {% for tag in page.settings.tags %}
                            {% render 'tag', tag: tag %}
                          {% endfor %}
                          <!--Collection-->
                          {% if page.settings.collection %}
                                <a href="/s/tag?c={{ page.settings.collection }}" class=" text-primary hover:text-primary/80 px-2 py-1 rounded-full bg-primary/10">#{{ page.settings.collection }}</a>
                          {% endif %}
                          <!--Feature-->
                          {% if page.settings.feature %}
                                <a href="/s/tag?f={{ page.settings.feature }}" class=" text-primary hover:text-primary/80 px-2 py-1 rounded-full bg-primary/10">#{{ page.settings.feature }}</a>
                          {% endif %}
                      </div>
                    {% endif %}
                    
                  </article>

                  {% if page.author.id == current_user.member_id %}
                    <div class="my-4">
                      <div class="relative p-5 rounded-lg border border-slate-200 dark:border-slate-700 bg-slate-100 dark:bg-slate-800">
                        <div class="items-center space-y-3 sm:flex sm:space-y-0 sm:space-x-5">
                            <a href="/s/edit?page_path={{ page.full_slug }}" class="btn">
                              <span>{{ 'buttons.edit' | t}}</span>
                            </a>
                            {% form_tag 'delete_page', page %}
                              <button class="btn btn-ghost"> {{ 'buttons.delete' | t}} </button>
                            {% endform_tag %}
                        </div>
                      </div>
                    </div>
                  {% endif %}

                  <!-- Comments list -->
                  <div data-controller="load_more">
                    <!-- Content header -->
                    <div class="pb-6 mb-4 border-b border-slate-200 dark:border-slate-800">
                      <div class="items-center justify-between text-center md:text-left md:flex">
                          <h2 class="text-xl font-semibold">{{ page.comments | size }} {{ 'generic.comments' | t }}</h2>
                      </div>
                    </div>

                    {% render 'reply_page_form', target: page %}

                    <!-- Comments (1st level) -->
                    {% assign answers = page.comments | roots  %}
                    <ul id="page_{{ page.id }}_replies_list" data-load_more-target="container">
                      {% paginate_tag answers, per: 4 %}
                        {% for reply in answers %}
                          {% render 'reply', reply: reply %}
                        {% endfor %}
                      {% endpaginate_tag %}
                    </ul>
                    {{ paginate.next.page  }}
                    {% if paginate.next_page %}
                      <button id="load_more" data-action="click->load_more#loadMore" data-load_more-url-value="/s/replies?page_path={{ page.full_slug }}&_page={{ paginate.next_page }}"
                        data-load_more-target="button" class="btn btn-ghost"
                      >
                        {{ 'generic.read_more' | t}}
                      </button>
                    {% endif %}
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- Sidebar -->
          {% if true %}
          <aside class="hidden md:flex pt-0 pb-12 md:w-64 lg:w-80 md:shrink-0 md:pb-20">
            <div class="md:pl-6 lg:pl-10">
              <!-- Sidebar content -->
              <div class="space-y-6">
                {% render 'search_form' %}
                {% render 'sidebar_tags' %}
                {% render 'sidebar_recommend', pages: pages, default_avatar_url: default_avatar_url %}
                {% assign newest_pages = pages | order_by: '-created_at' | limit: 5 %}
                {% render 'sidebar_newest', items: newest_pages, default_avatar_url: default_avatar_url, type: 'pages' %}
                {% assign popular_pages = pages | order_by: '-visits_count' | limit: 3 %}
                {% render 'sidebar_popular', items: popular_pages, default_avatar_url: default_avatar_url, type: 'pages' %}

              </div>

            </div>
          </aside>
          {% endif %}

        </div>
      </div>
    </div>
  </section>
</main>

{% schema %}
  {
    "name": "帖子页面模板",
    "description": "发布的页面详情模板",
    "thumb_url": "images/theme/page.webp",
    "sub_page_templates": ["page"],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "placeholder": "",
        "label": "标题",
        "info": "显示在正文上方的文章标题"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "问题内容"
      },
      {
        "id": "collection",
        "type": "select",
        "choices_from": "$site.collection_tags",
        "queryable": true,
        "label": "集合",
        "info": "从首页设置的集合分类字段中选择"
      },
      {
        "id": "feature",
        "type": "select",
        "choices_from": "$site.feature_tags",
        "queryable": true,
        "label": "功能",
        "info": "从首页设置的功能分类字段中选择"
      },
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "queryable": true,
        "label": "页面标签"
      },
      {
        "id": "is_recommend",
        "type": "checkbox",
        "queryable": true,
        "label": "是否推荐",
        "info": "选定推荐后，会在推荐栏目显示",
        "default": false
      }
    ],
    "user_creatable": true,
    "user_editable": true,
    "user_deletable": true,
    "user_permitted_attributes": ["title", "content"]
  }
{% endschema %}